.category-name {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}
.mt-6{
    margin-top: 6rem
    
}
.bg-primary-2{
    background-color: #f7f7f7;
}