$color-primary : #f77b7a;
$color-secondary : #ffe2db;
$color-tertiary : #ffb93f;

$color-secondary-dark : #ff7730;
$color-white: #fff;

$color-black: #000;

$color-grey : #c7c7c7;


$color-grey-dark: #777;
$color-grey-dark-1 : #F7F7F7;
$color-grey-dark-3: #333;
$color-grey-dark-2: #999;
$default-font-size: 1rem;


//Grid 
// $grid-width: 120rem;
// $gutter-vertical: 5rem;
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 2rem;